:root {
    --primary-color: rgb(97, 172, 221);
    --secondary-color: rgb(226, 46, 46);
    --tertiary-color: rgb(39, 41, 58);

    --background-color:rgb(218, 218, 218);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* helper styles */

  /* .border {
      border: 4px dotted orange;
      margin: 5px;
      padding: 5px;
  } */

  /* .flex {
      display: flex;
  } */

/* end helper styles */

  body {
      font-family: Arial, Helvetica, sans-serif;
      color: var(--tertiary-color);
      background-color: var(--background-color);
  }

  /* apply styles to header */

  header {
    padding: 20px 0px 20px 0px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header h1 {
      padding: 10px;
      display: flex;
      background-color: var(--primary-color);
      
  }

  header h1 a {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 32px;
      text-decoration: none;
      color: var(--tertiary-color);
  }

  /* apply styles to header nav */

 header nav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
 }

 header nav ul li {
    border-bottom: 2px solid var(--primary-color);
    margin: 10px 15px;
    padding: 5px 5px;
 }

header nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
 }

 header nav ul li:hover, header nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 10px;
 }

 /* end styles to header */




/* begin styles to section */



/* begin hero styles */

.hero {
    padding: 100px;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-quote {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}



 /* end styles to hero */

 /* about me start */

#about-me {
    margin:  20px 20px 20px 0px;
    display: flex;
}

.section-titles {
    display: flex;
    text-align: end;
    margin: 15px;
    border-right: 3px solid var(--tertiary-color); 
}

.section-titles h3 {
    width: 150px;
    font-size: 32px;
    color: var(--tertiary-color);
    padding: 20px;
}

.bio {
    display: flex;
}

.portfolio-pic {
    margin: 5px;
    width: 150px;
    border: 3px solid var(--tertiary-color);
}

.portfolio-text {
    
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}




/* end about me section */



/* begin work section */

#work {
    margin:  20px 20px 20px 0px;
    display: flex;
}

.projects {
    flex-wrap: wrap;
    margin: 20px auto;
}

.project1-container {
    width: 100%;
    height:400px;
    border: 5px solid var(--tertiary-color);
    position: relative;
}

.project1:hover {
    opacity: 50%;
}

.project1-pic {
    width: 100%;
    height: 390px;
}

.project1-text {
    position: absolute;
    bottom: 80px;
    left: 2px;
    background-color: var(--primary-color);
    border: 3px solid var(--tertiary-color);
}

/* end project1 runbuddy styles */


.other-projects-container {
    width: 100%;
    /* margin: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.other-project {
    width: 45%;
    height: 400px;
    margin: 10px;
    border: 5px solid var(--tertiary-color);
    position: relative;
}

.other-project:hover {
    opacity: 50%;
}

.other-project-pic {
    width: 100%;
    height: 390px;
}

.other-project-text {
    position: absolute;
    bottom: 80px;
    left: 2px;
    padding: 5px;
    background-color: var(--primary-color);
    border: 3px solid var(--tertiary-color);
    font-style: none;
}


/* end work section */


/* begin contact me section */

#contact-me {
    margin:  20px 20px 20px 0px;
    display: flex;
}

footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
}

footer ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: flex-end;
     justify-content: space-around;
     list-style: none;
     text-decoration: none;
     align-items: center;
}

footer ul li {
    padding: 5px 5px;
    margin: 0px 30px;
    color: var(--tertiary-color);
    font-size: 1.77vw;
}

footer ul li a {
    text-decoration: none;
    font-style: none;
    margin: 10px 10px;
    padding: 5px 10px;
    color: inherit;
    font-size: 20px;
    border-bottom: 2px solid var(--tertiary-color);
}

footer ul li p {
    text-decoration: none;
    font-style: none;
    margin: 10px 10px;
    padding: 5px 10px;
    color: inherit;
    font-size: 20px;
    border-bottom: 2px solid var(--tertiary-color);
}

/* Contact Me section ends */

/* media queries begin */




/* media query for smaller desktop screens and smaller */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        justify-content: center;
      }

      header nav {
          width: 100%;
      }

      header nav ul {
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      footer h2, footer div {
        text-align: center;
        width: 100%;
      }
    
      .section-titles {
        width: 150px;
      }

      .portfolio-pic {
        margin: 5px;
        width: 150px;
        height: 150px;
        border: 3px solid var(--tertiary-color);
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  
    .bio {
        flex-direction: column;
        align-items: center;
    }

    .projects {
        align-content: center;
    }


    .project1, .other-project {
       width: 100%;
    }

    footer ul li p {
        text-align: center;
    }

    }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    
  
  }