:root {
    --primary-color: rgb(97, 172, 221);
    --secondary-color: rgb(226, 46, 46);
    --tertiary-color: rgb(39, 41, 58);

    --background-color:rgb(218, 218, 218);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      font-family: Arial, Helvetica, sans-serif;
      color: var(--tertiary-color);
      background-color: var(--background-color);
  }

  /* apply styles to header */

  header {
    padding: 20px 0px 20px 0px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header h1 {
      padding: 10px 10px 10px 40px;
      font-weight: bold;
      font-size: 32px;
      background-color: var(--primary-color);
  }

  header a {
      text-decoration: none;
      color: var(--tertiary-color);
  }

  /* apply styles to header nav */

header nav {
    margin: 20px 0px 20px auto;
}

 header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
 }

header nav ul li a {
    margin: 10px 10px;
    padding: 5px 10px;
    color: var(--primary-color);
    font-size: 20px;
    border-bottom: 2px solid var(--primary-color);
 }

 /* end styles to header */




/* begin styles to section */



/* begin hero styles */

.hero {
    padding: 100px;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-quote {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}



 /* end styles to hero */

 /* about me start */

#about-me {
    margin:  20px auto;
    display: flex;
}

.section-titles {
    width: 30%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border-right: 3px solid var(--tertiary-color); 
}

.section-titles h3 {
    font-size: 32px;
    color: var(--tertiary-color);
    padding: 8px;
}

.profile-picture {
    margin: 5px;
    width: 150px;
    height: 150px;
    border: 3px solid var(--tertiary-color);
}

.bio p {
    
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}




/* end about me section */



/* begin work section */

.work {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.projects {
    padding: 10px 10px;
}

.project1 {
    width: 100%;
    height: 500px;
    margin: auto auto;
    border: 5px solid var(--tertiary-color);
    position: relative;
}

.project1 img {
    width: 70%;
    height: 400px;
}

.project1-text {
    position: absolute;
    bottom: 80px;
    left: 2px;
    padding: 5px;
    background-color: var(--primary-color);
    border: 3px solid var(--tertiary-color);
}

.other-project {
    width: 400px;
    height: 400px;
    position: relative;
}

.other-project img {
    height: 200px;
    width: 300px;
    border-radius: 4px;
}

.other-project-text {
    position: absolute;
    bottom: 80px;
    left: 2px;
    padding: 5px;
    background-color: var(--primary-color);
    border: 3px solid var(--tertiary-color);
}


/* end work section */


/* begin contact me section */

#contact-me {
    display: flex;
    padding: 20px 0px 20px 0px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
}

footer ul {
    display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     list-style: none;
     align-items: center;
}

footer ul li p {
    padding: 5px 5px;
    margin: 0px 20px;
    color: var(--tertiary-color);
    font-size: 1.77vw;
    border-bottom: 2px solid var(--tertiary-color);
    font-style: none;
}