:root {
    --primary-color: rgb(97, 172, 221);
    --secondary-color: rgb(226, 46, 46);
    --tertiary-color: rgb(39, 41, 58);

    --background-color:rgb(218, 218, 218);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      font-family: Arial, Helvetica, sans-serif;
      color: var(--tertiary-color);
      background-color: var(--background-color);
  }

  /* apply styles to header */

  header {
      padding: 20px 0px 20px 0px;
      background-color: var(--tertiary-color);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  header h1 {
      padding: 5px 5px 5px 40px;
      font-weight: bold;
      font-size: 36px;
      background-color: var(--primary-color);
      
  }

  header a {
      text-decoration: none;
      color: var(--tertiary-color);
  }

  /* apply styles to header nav */

header nav {
    margin-top: 15px;
    margin-right: 15px;
}

 header nav ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     list-style: none;
     align-items: center;
 }

 header nav ul li a {
    padding: 5px 5px;
    margin: 0px 20px;
    color: var(--primary-color);
    font-size: 1.77vw;
    border-bottom: 2px solid var(--primary-color);
 }

 /* end styles to header */




/* begin styles to section */



/* begin hero styles */

.hero {
    padding: 80px;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: fixed;
}

.hero-quote {
    margin: 10px;
}

.hero-quote h2 {
    padding: 10px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    display: flex;
}



 /* end styles to hero */

#about-me {
    display: flex;
    margin-top: 10px;
}

.profile-picture {
    width: 180px;
    height: 180px;
}

.section-title-container {
    width: 180px; 
    margin: 10px;
    padding: 10px;
    border-right: 3px solid var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: right;
    
}

.section-title-container h3 {
    font-size: 32px;
    color: var(--tertiary-color);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* end about me section */



/* begin work section */

#work {
    display: flex;
}
